latin/htmlcov/
latin/old/
.idea/
latin/i_scrape_old.py
.coverage
latin/h_fact_organizer.py
latin/k_macr_txt.py
latin/v_reading.py
latin/large_files/
lwe/
.DS_Store
latin/lasla2/
latin/.DS_Store
latin/files/word2clas.pkl
latin/files/.DS_Store
latin/files/lem2forms_ui.pkl
latin/files/word2stress.pkl
latin/files/lem2forms_jv.pkl
latin/files/lem2forms_pos.pkl
latin/files/old_word2def_orig.pkl
latin/files/old_lst.pkl
latin/files/lem2forms.pkl
latin/files/old_word2def.pkl
latin/files/old_wonum.pkl
latin/files/macronizer_new.pkl
latin/files/old_wdef.pkl
latin/files/lasla_db2.pkl
latin/files/old_wonum5.pkl
latin/files/lasla_db.pkl
latin/files/old_simple.pkl