latin/htmlcov/
latin/old/
.idea/
latin/i_scrape_old.py
.coverage
latin/h_fact_organizer.py
latin/k_macr_txt.py
latin/y_download.py
latin/general_la/large_files/
lwe/
.DS_Store
latin/.DS_Store
latin/general_la/phi/
latin/general_la/phi2/
latin/general_la/files/word2clas.pkl
latin/general_la/files/.DS_Store
latin/general_la/files/lem2forms_ui.pkl
latin/general_la/files/word2stress.pkl
latin/general_la/files/lem2forms_jv.pkl
latin/general_la/files/lem2forms_pos.pkl
latin/general_la/files/old_word2def_orig.pkl
latin/general_la/files/old_lst.pkl
latin/general_la/files/lem2forms.pkl
latin/general_la/files/old_word2def.pkl
latin/general_la/files/old_wonum.pkl
latin/general_la/files/macronizer_new.pkl
latin/general_la/files/old_wdef.pkl
latin/general_la/files/lasla_db2.pkl
latin/general_la/files/old_wonum5.pkl
latin/general_la/files/lasla_db.pkl
latin/general_la/files/old_simple.pkl