latin/htmlcov/
latin/old/
.idea/
latin/i_scrape_old.py
.coverage
latin/h_fact_organizer.py
latin/k_macr_txt.py
latin/y_download.py
latin/general_la/large_files/
lwe/
.DS_Store
latin/.DS_Store
latin/general_la/phi/
latin/general_la/phi2/
latin/general_la/files/
latin/general_la/lasla/
latin/general_la/lasla2/